$bg-color: #292828;
$font-color: #000;
$success-color: #5cdb95;
$primary-color: #0295f7;
$dark-overlay: rgba(0, 0, 0, 0.445);
$light-overlay: rgba(255, 255, 255, 0.774);
$icon-size: 30px;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 30) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
//xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px
@mixin mediaXs {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-widht: 992px) and (max-width: 1999px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
