@include mediaMd {
  #home-section {
    background: url('../img/home_dog_small.jpg') no-repeat;
  }

  // CONFIRM
  .confirm {
    .fas {
      font-size: 100px;
    }

    p {
      font-size: 30px;
    }
  }
}
